.maincontainer{
 
    display:flex;
    justify-content: space-around;
    gap:30px;
    text-align: center;
    height: 90px;
    padding-top: 20px;
    background-color: teal;
    box-sizing: border-box;
    margin-bottom: 2%;
    
}

.catcontainer{
   
    width:80%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding:10px;
    box-sizing: border-box;
    color:white;
    font-size: large;
}

.lscontainer{
   
    width:30%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.btn{
    background-color: teal;
    color:white;
    border:none;
    font-size: large;
    cursor:pointer;

}